/* css file for base and home.html */

body {
    background-color: #303030;
    color: white;
}

.navbar-nav {
    display: flex;
    width: 100%;
}

.nav-link {
    color: rgb(255, 255, 255) !important;
}

.nav-link:hover {
    color: rgb(255, 215, 183) !important;
}

.navbar-custom{
    background-color: #4385ff;

}

.nav-user {
    display: flex;
    gap: 30px;
    margin-left: auto;
}

.nav-user span, .nav-user a{
    margin: auto 0;
}


.login-text{
    font-size: 18px;
    margin-right: 20px;
    color: white;
}


.top-row {
    display: flex;
    align-items: center;
}

.order-by-container {
    display: flex;
    align-items: center;
}

.order-by-container p {
    font-size: 18px;
    margin: auto;
    margin-right: 5px;
}

#sort_order {
    padding: 2px 4px 2px 0;
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px; /* Rounded corners */
    background-color: #3ca3e7; /* Background color */
    font-size: 18px; /* Font size */
  }



#order-form {
    margin-left: auto;
    margin-right: 100px;
}

.listings-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.listing_link {
    display: block;
    text-decoration: none;
}

.listing_link:hover {
    text-decoration: none;
}

.listing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 250px;
    height: 330px;
}

.listing:hover h5,
.listing:hover .price {
    background-color: #0941a8;
}




.listing h5 {
    background-color: #4385ff;
    padding: 10px;
    margin: 0;
    border-radius: 4px 4px 0 0;
    transition: background-color 0.3s ease;
}

.listing .price {
    background-color: #4385ff;
    text-align: center;
    font-weight: 600;
    padding: 10px;
    margin: 0;
    border-radius: 0 0 4px 4px;
    transition: background-color 0.3s ease;
}

.description{
    margin: 0;
    min-height: 30px;
    max-height: 50px;
    overflow: hidden;
}

.listing img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
}

.paginator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    margin: 30px auto;
}

.paginator p {
    margin: 0;
}

.paginator a {
    text-decoration: none;
    color: rgb(14, 184, 252);
    transition: color 0.1s ease;
}

.paginator a:hover {
    color: #4385ff; /* Hover background color */
}

.page-links{
    display: flex;
    gap: 20px;
}

.listing-container {
    position: relative;
}

.listing-container:hover .delete-listing-btn {
    display: block;
}

.delete-listing-btn {
    font-family: 'Material Symbols Outlined', sans-serif;
    vertical-align: top;
    line-height: 1;
    width: 30px;
    height: 30px;
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px; 
    background-color: rgb(255, 0, 0); 
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: none;
    transition: all 0.2s ease;
}

.delete-listing-btn:hover {
    background-color: rgb(190, 0, 0); 
}

@media (max-width: 991px) {
    .nav-user {
        margin-left: 0;
    }
}